/* 
    https://github.com/Nriver/NieR-Automata-Trilium-Theme
*/

body.theme-nier-automata {
    background-size: 4px 4px;
    background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px);
    font-family: "Noto Sans", sans-serif;
    box-shadow: inset 0 0 150px rgba(77, 73, 62, 0.3), inset 0 0 150px rgba(77, 73, 62, 0.3);
    --main-background-color: #C8C2AA;
    --menu-background-color: #C8C2AA;
    --active-item-background-color: #C8C2AA;
    --input-background-color: #C8C2AA;
    --primary-button-background-color: #4D493E;
    --primary-button-border-color: #4D493E;
    --header-background-color: #C8C2AA;
    --button-background-color: #C8C2AA;
    --button-border-color: #4D493E;
    --main-border-color: #4D493E;
    --scrollbar-border-color: #4D493E;
    --accented-background-color: #C8C2AA;
    --link-color: #268bd2;
    --main-text-color: #4D493E;
    --modal-background-color: #C8C2AA;
    --tooltip-background-color: #C8C2AA;
    --hover-item-text-color: white;
    --hover-item-background-color: #5D594E;
    --ck-color-base-border: black;

}

.theme-nier-automata ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.theme-nier-automata ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.theme-nier-automata .gutter {
    background-color: transparent;
}

body.theme-nier-automata h1 {
    font-size: 2.5rem;
    margin: 1em 0;
}

body.theme-nier-automata h2 {
    font-size: 2.2rem;
    margin: 1em 0;
}

body.theme-nier-automata h3 {
    font-size: 1.8rem;
    margin: 1em 0;
}

.theme-nier-automata .ck-content hr {
    border: none;
    height: 1px;
}

.theme-nier-automata textarea:focus,
.theme-nier-automata input:focus {
    outline: none;
}

.theme-nier-automata .todo-list__label {
    margin-bottom: 0;
}

.theme-nier-automata .ck-content .todo-list .todo-list__label>input[checked]::before {
    background-color: #4D493E;
    border: 1px solid #4D493E;
    border-radius: 0;
}

.theme-nier-automata .ck-content .todo-list .todo-list__label>input:before {
    border: 1px solid #4D493E;
    border-radius: 0;
}

.theme-nier-automata .ck-content .todo-list .todo-list__label>input::after {
    border-color: transparent !important;
}

.theme-nier-automata .ck-content pre {
    border: none;
    border-radius: 0;
    /* background-color: #ececec; */
}

.theme-nier-automata .calendar-widget .calendar-date,
.theme-nier-automata .calendar-widget .calendar-week span {
    font-size: 14px;
    font-weight: 400;
}

.theme-nier-automata blockquote {
    color: #839496;
}

body.theme-nier-automata .search-string,
body.theme-nier-automata .note-tab-row,
body.theme-nier-automata .note-tab-row-container,
body.theme-nier-automata .standard-top-widget,
body.theme-nier-automata div#right-pane .card-header,
body.theme-nier-automata input.note-title {
    background: transparent !important;
}

body.theme-nier-automata .note-tab-wrapper {
    background: transparent !important;
}

body.theme-nier-automata .gutter.gutter-horizontal {
    background: #4D493E;
    width: 2px !important;
}

body.theme-nier-automata .search-string {
    border: 1px solid #4D493E;
}

body.theme-nier-automata li.dropdown-menu:hover {
    background: #9D996E88;
}

.theme-nier-automata .standard-top-widget button {
    font: inherit;
    border: none;
    padding: 0.4rem 1rem;
    background-color: transparent;
    color: #4D493E;
    box-sizing: content-box;
    position: relative;
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
    border-radius: unset !important;
}

.theme-nier-automata .standard-top-widget button::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 3px;
    bottom: 3px;
    width: 0;
    background-color: #4D493E;
    transition: width 0.2s;
}

.theme-nier-automata .standard-top-widget button::after {
    content: "";
    display: none;
    position: absolute;
    background: #4D493E;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
}

.theme-nier-automata .standard-top-widget button:hover,
.theme-nier-automata .standard-top-widget button:focus {
    background-color: transparent;
    color: #C8C2AA;
    border-color: #4D493E;
}

.theme-nier-automata .standard-top-widget button:hover::before,
.theme-nier-automata .standard-top-widget button:focus::before {
    width: 100%;
}

body.theme-nier-automata .modal-footer,
body.theme-nier-automata .dropdown-divider {
    border-top: 1px solid #4D493E;
}

body.theme-nier-automata .modal-header,
body.theme-nier-automata .nav-tabs {
    border-bottom: 1px solid #4D493E;
}

body.theme-nier-automata .input-group-text,
body.theme-nier-automata .form-control {
    border: 1px solid #4D493E;
}


/* tab selected */

body.theme-nier-automata .nav-link.active {
    border-color: #4D493E;
}


/* tab hover */

body.theme-nier-automata .nav-link:hover {
    border-color: #6D695E;
}


/* up/down button(little triangles/arrows after input number)  */

body.theme-nier-automata input[type=number]::-webkit-inner-spin-button {
    opacity: 0.4;
}


/* color of selected text */

body.theme-nier-automata ::selection {
    background: #4D493E !important;
    background-color: #4D493E !important;
    color: white;
}


/* toast message header */

body.theme-nier-automata .toast-header {
    background: #a09b88 !important;
    background-color: #a09b88 !important;
}

body.theme-nier-automata .calendar-date {
    background-color: transparent !important;
}

body.theme-nier-automata .note-book-card {
    background: #a09b88 !important;
}

body.theme-nier-automata .note-book-card:hover {
    background: #D0C8AA !important;
}

.theme-nier-automata .standard-top-widget {
    border-bottom: 1px solid #4D493E !important;
    padding-top: 0px;
}

.theme-nier-automata .global-menu-wrapper.component button {
    background-color: transparent !important;
}

.theme-nier-automata .global-menu-wrapper.component button:hover {
    background-color: #4D493E;
}

.theme-nier-automata div.similar-notes-wrapper a,
.theme-nier-automata .btn,
.theme-nier-automata .modal-content,
.theme-nier-automata .dropdown-menu,
.theme-nier-automata .tree-settings-popup {
    background-size: 4px 4px;
    background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px);
}

.theme-nier-automata .slider {
    background: #D8D2AA;
    background-color: #D8D2AA;
}


/* checkbox style 4 places to change */

.theme-nier-automata .tree-settings-popup>input[checked]::before,
.theme-nier-automata .custom-control-input input[checked]::before,
.theme-nier-automata .tab-content input[checked]::before {
    background-color: #4D493E;
    border: 1px solid #4D493E;
    border-radius: 0;
}

.theme-nier-automata .tree-settings-popup>input[type=checkbox],
.theme-nier-automata .custom-control-input input[type=checkbox],
.theme-nier-automata .tab-content input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 15px;
    height: 12px;
    position: relative;
    background-color: #C8C2AA;
}

.theme-nier-automata .tree-settings-popup input[type=checkbox]:after,
.theme-nier-automata .custom-control-input input[type=checkbox]:after,
.theme-nier-automata .tab-content input[type=checkbox]:after {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    content: "";
    color: #fff;
    display: inline-block;
    visibility: visible;
    padding: 0px 2px;
    border-radius: 0;
    background: #C8C2AA;
    border: 1px solid #4D493E;
}

.theme-nier-automata .tree-settings-popup input[type=checkbox]:checked:after,
.theme-nier-automata .custom-control-input input[type=checkbox]:checked:after,
.theme-nier-automata .tab-content input[type=checkbox]:checked:after {
    content: "";
    background: #4D493E;
    background-size: 4px 4px;
    background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px);
}

.theme-nier-automata .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-radius: 0;
    background: #C8C2AA;
}

.theme-nier-automata .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: unset !important;
    background: #4D493E;
}


/* attribute edit checkbox 3 place to change */

.theme-nier-automata .modal-body input[type=checkbox],
.theme-nier-automata .attr-edit-table input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 15px;
    height: 12px;
    position: relative;
    background-color: #C8C2AA;
}

.theme-nier-automata .modal-body input[type=checkbox]:after,
.theme-nier-automata .attr-edit-table input[type=checkbox]:after {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    content: "";
    color: #fff;
    display: inline-block;
    visibility: visible;
    padding: 0px 2px;
    border-radius: 0;
    background: #C8C2AA;
    border: 1px solid #4D493E;
}

.theme-nier-automata .modal-body input[type=checkbox]:checked:after,
.theme-nier-automata .attr-edit-table input[type=checkbox]:checked:after {
    content: "";
    background: #4D493E;
    background-size: 4px 4px;
    background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px);
}


/* note attribute */

.theme-nier-automata .promoted-attribute-cell strong {
    flex-shrink: 0;
}


/* ckeditor add border to function button */

.theme-nier-automata .ck-block-toolbar-button,

/* .theme-nier-automata .ck-button__label, */

.theme-nier-automata .ck-tooltip__text,
.theme-nier-automata .ck-rounded-corners a.ck.ck-button,
.theme-nier-automata .ck.ck-button.ck-rounded-corners {
    border-radius: 0 !important;
    border: 1px solid #4D493E !important;
}


/* ckeditor table border */

.theme-nier-automata .ck-content .table table,
.theme-nier-automata .ck-content .table th,
.theme-nier-automata .ck-content .table td {
    border: 1px solid #4D493E !important;
}


/* tree expand button */

.theme-nier-automata .fancytree-node:not(.fancytree-folder) .fancytree-expander:before {
    color: transparent !important;
}


/* ckeditor insert table button dropdown */
/* This is the one! keyword: dropdown__label dropdown__grid */
/* problem style      border: 1px solid var(--ck-color-base-border); */
.theme-nier-automata .ck .ck-insert-table-dropdown-grid-box {
    border: 1px solid #4D493E !important;
}

















